*{
	margin: 0px;
	padding: 0px;
}
.content{
	width: 1200px;
	margin: auto;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}
.content a{
	display: block;
	width: 30%;
	padding: 5px;
}
.content a img{
	width: 200px;
}